{% extends 'education_content/base.html' %}

{% block content %}

    <main class="form-signin w-100 m-auto">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-5 text-center bg-body-tertiary">
            <div class="d-md-flex flex-md-equal container my-md-3 ps-md-3">
                <form class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
                    <img class="mb-4" id="themeImage" src="/media/asserts/favicon.ico" alt="" width="128" height="128">
                    <h1 class="h3 mb-3 fw-normal">Creating a new chapter</h1>
                    {% csrf_token %}
                    <div class="form-floating mb-1">
                        <input type="text" name="title" value="{{ object }}" autofocus autocapitalize="none"
                               autocomplete="current-title"
                               maxlength="100" class="form-control" id="id_title" placeholder="name@example.com"
                               required>
                        <label for="id_title">Title</label>
                        <div class="invalid-feedback">
                            Please provide a valid Chapter name
                        </div>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" name="description" value="{{ object.description }}" autofocus
                               autocapitalize="none"
                               autocomplete="current-description"
                               maxlength="500" class="form-control" id="id_description" placeholder="name@example.com"
                               required>
                        <label for="id_description">Description</label>
                        <div class="invalid-feedback">
                            Please provide a valid Chapter description
                        </div>
                    </div>
                    <div class="mb-1">
                        <input type="file" name="preview" accept="image/*"
                               class="form-control" id="id_preview">
                    </div>
                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                    <button type="submit" class="btn btn-success">
                        {% if object %}
                            Save
                        {% else %}
                            Create
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}