{% extends 'education_content/base.html' %}

{% block content %}
    <main class="form-signin w-100 m-auto">
        <div class="row">

            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-5 text-center bg-body-tertiary">
                <div class="d-md-flex flex-md-equal container my-md-3 ps-md-3">

                    <form class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
                        <img class="mb-4" id="themeImage" src="/media/asserts/favicon.ico" alt="" width="128"
                             height="128">
                        <h1 class="h3 mb-3 fw-normal">Adding a new application to material {{ object.material }}</h1>
                        {% csrf_token %}
                        <div class="form-floating mb-1">
                            <input type="text" name="signature" value="{{ object }}" autofocus autocapitalize="none"
                                   autocomplete="current-signature"
                                   maxlength="300" class="form-control" id="id_signature"
                                   placeholder="name@example.com">
                            <label for="id_signature">Signature</label>
                        </div>
                        {% if material_pk %}
                            <input type="hidden" name="material" value="{{ material_pk }}">
                        {% elif material_list %}
                            <select class="form-select form-select-lg mb-1" name="material"
                                    aria-label="Large select example">
                                <option selected>Material: {{ object.material }}</option>
                                {% for material in material_list %}
                                    <option value="{{ material.pk }}">{{ material }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                        {% endif %}

                        <select class="form-select form-select-lg mb-1" name="thin_section"
                                aria-label="Large select example">
                            <option value="" selected>Thin section: {{ object.thin_section }}</option>
                            {% for thin_section in thin_section_list %}
                                <option value="{{ thin_section.pk }}">{{ thin_section }}</option>
                            {% endfor %}
                        </select>
                        <div class="d-flex gap-3 justify-content-start fw-normal mb-1 mx-1">
                            <a class="icon-link"
                               href="{% url 'unique_content:thin_section_list' %}">
                                View all available virtual thin sections
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     class="bi">
                                    <use xlink:href="#chevron-right"/>
                                </svg>
                            </a>
                        </div>

                        <select class="form-select form-select-lg mb-1" name="pano_view"
                                aria-label="Large select example">
                            <option value="" selected>360 view: {{ object.pano_view }}</option>
                            {% for pano_view in pano_view_list %}
                                <option value="{{ pano_view.pk }}">{{ pano_view }}</option>
                            {% endfor %}
                        </select>
                        <div class="d-flex gap-3 justify-content-start fw-normal mb-1 mx-1">
                            <a class="icon-link"
                               href="{% url 'unique_content:360view_list' %}">
                                View all available 360 views
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     class="bi">
                                    <use xlink:href="#chevron-right"/>
                                </svg>
                            </a>
                        </div>


                        <select class="form-select form-select-lg mb-1" name="p3din_model"
                                aria-label="Large select example">
                            <option value="" selected>3d model: {{ object.p3din_model }}</option>
                            {% for p3din_model in p3din_model_list %}
                                <option value="{{ p3din_model.pk }}">{{ p3din_model }}</option>
                            {% endfor %}
                        </select>
                        <div class="d-flex gap-3 justify-content-start fw-normal mb-1 mx-1">
                            <a class="icon-link"
                               href="{% url 'unique_content:model_3d_list' %}">
                                View all available 3d models
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     class="bi">
                                    <use xlink:href="#chevron-right"/>
                                </svg>
                            </a>
                        </div>

                        <div class="form-check text-start my-3">
                            <input class="form-check-input" name="map" type="checkbox"
                                   id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Map implementation
                            </label>
                        </div>

                        {% if form.errors %}
                            {{ form.errors | safe }}
                        {% endif %}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Save
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </form>


                </div>

            </div>
        </div>
    </main>

    </script>
{% endblock %}