{% load my_tags %}
<div class="col-12 col-md-6 mb-3" style="{% if not object.is_published %} opacity: 0.3 {% endif %};">
    <div class="{% if object.is_published_requested and user.is_staff %}text-bg-primary{% else %}bg-body-tertiary{% endif %} pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
         style="border-radius: 21px 21px 0 0;">
        <div class="my-3 p-3">
            <h2 class="display-5 d-none d-md-block" style="height: 60px; overflow: hidden;">
                <a href="/chapter_view/{{ object.id }}" style="text-decoration: none; color: inherit;">{{ object }}</a>
            </h2>
            <h2 class="display-5 d-md-none">
                <a href="/chapter_view/{{ object.id }}" style="text-decoration: none; color: inherit;">{{ object }}</a>
            </h2>
            <p class="lead d-none d-md-block" style="height: 60px; overflow: hidden;">
                <a href="/chapter_view/{{ object.id }}"
                   style="text-decoration: none; color: inherit;">{{ object.description }}</a>
            </p>
            <p class="lead d-md-none">
                <a href="/chapter_view/{{ object.id }}"
                   style="text-decoration: none; color: inherit;">{{ object.description }}</a>
            </p>
        </div>
        <a href="/chapter_view/{{ object.id }}">
            <div class="bg-dark shadow-sm mx-auto" style="width: 90%; height: 300px; border-radius: 21px 21px 0 0;">
                {% if object.preview %}
                    <img src="{{ object.preview|mediapath_filter }}" alt=""
                         style="width: 100%; height: 100%; object-fit: cover; border-radius: 21px 21px 0 0;">
                {% endif %}
            </div>
        </a>
    </div>
</div>