<nav class="navbar navbar-dark navbar-expand-md bg-dark sticky-top border-bottom">
    <div class="container">
        <a class="navbar-brand d-md-none" href="#">
            <img class="mb-1" id="themeImage" src="/media/asserts/favicon.ico" alt="" width="24"
                                 height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">WebDesignEduPlatform</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="{% url 'education_content:chapter_list' %}">
                        <img class="mb-1" id="themeImage" src="/media/asserts/favicon.ico" alt="" width="24"
                                 height="24">
                    </a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'education_content:chapter_list' %}">Главная</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'education_content:material_list' %}">Обучение</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'tests:test_list' %}">Тесты</a></li>
                                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' %}">Учетная запись</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Выйти</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Войти</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>